.carrusel{
    position: relative;
    border: 2px solid #000;
    background: #00f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.carrusel-inner{
    display: flex;
    justify-content: space-around;
}
.carrusel-item{
    display: flex;
    width: 180px;
    height: 180px;
    position: relative;
    animation: 5s infinite movimiento;
    margin: 1%;
}
.frame{
    background: #ff0;
    border: 2px solid #000;
    width: 100%;
    height: 190px;
    position: absolute;
}
@keyframes movimiento{
    from{
        right: 0;
        left: 400px;
    }
    to{
        right: 400px;
        left: -390px;
    }
}