body{
    background: linear-gradient(#000, #f00);
    color:aliceblue;
}
section{
    display: flex;
    width: 100%;
    height: 400px;
}
section div{
    width: 0;
    flex-grow: 0.5;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
}
img{
    width: 100%;
    height: 100%;
}
section div:hover{
    cursor: pointer;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
}